.app-layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  &-menu {
    background-color: #d9edf7!important;
    padding: 0.5rem 1.5rem;

    .nav-link, .navbar-brand {
      color: #31708f!important;
      transition: color .2s ease, background-color .2s ease;
      cursor: pointer;
    }

    .nav-link {
      padding-right: 1.5rem!important;
      padding-left: 1.5rem!important;

      &:hover, &:focus, &.active {
        color: #fff!important;
        background-color: #87ceeb!important;
      }
    }

    .navbar-brand {
      font-size: 22px;
      font-weight: bolder;
    }

    @media (min-width: 576px) {
      .nav-link {
        font-size: 18px;
        text-align: center;
        margin-left: 0.15rem;
        margin-right: 0.15rem;
      }
    }
  }

  &-header {
    flex: 0;
  }

  &-content {
    flex: 1;
  }

  &-loading {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .spinner-grow {
      $size: 10vw;
      width: $size;
      height: $size;
    }
  }

  &-footer {
    flex: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 30px;
    background-color: #d9edf7;
  }
}
