client_web/.idea/
client_android/.idea/
client_android/platforms/android/.idea/
/client_windows/SkyBlog/.vs/SkyBlog/v15
/client_windows/SkyBlog/SkyBlog/bin/Debug
/client_windows/SkyBlog/SkyBlog/obj/Debug
/client_windows/SkyBlog/WindowsFormsControlLibrary/bin/Debug
/client_windows/SkyBlog/WindowsFormsControlLibrary/obj/Debug
/client_windows/SkyBlog/packages
/client_windows/SkyBlog/SkyBlog.Api/obj/Debug
/client_windows/SkyBlog/SkyBlog.Api/bin/Debug
/client_windows/SkyBlog/SkyBlog.Model/obj/Debug
/client_windows/SkyBlog/SkyBlog.Model/bin/Debug
