client_web/.idea/workspace.xml
client_android/.idea/workspace.xml
client_android/platforms/android/.idea/workspace.xml
/client_windows/SkyBlog/.vs/SkyBlog/v15
/client_windows/SkyBlog/SkyBlog/bin/Debug
/client_windows/SkyBlog/SkyBlog/obj/Debug
/client_windows/SkyBlog/WindowsFormsControlLibrary/bin/Debug
/client_windows/SkyBlog/WindowsFormsControlLibrary/obj/Debug
/client_windows/SkyBlog/packages
/client_windows/SkyBlog/Api/obj/Debug
/client_windows/SkyBlog/Api/bin/Debug
