.mde-preview{
    display: none;
}

.classify_button {
    margin-top: 25px;
    margin-bottom: 15px;
}

.classify_content{
    padding-left: 15px;
    padding-right: 15px;
}

.classify_well{
    display: flow-root;
    padding-bottom: 4px;
}