.markdown_view p {
    font-size: 16px;
    color: #4f4f4f;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 16px;
    text-align: justify
}

.markdown_view strong {
    font-weight: 700
}

.markdown_view i, address, cite, dfn, em, var {
    font-style: italic
}

.markdown_view * {
    box-sizing: border-box
}

.markdown_view h1, .markdown_view h2, .markdown_view h3, .markdown_view h4, .markdown_view h5, .markdown_view h6 {
    color: #4f4f4f;
    margin: 8px 0 16px;
    font-weight: 700
}

.markdown_view ol, .markdown_view ul {
    margin: 0 0 24px;
    padding: 0
}

.markdown_view ul ol {
    margin: 0 0 24px 32px
}

.markdown_view ul li {
    list-style-type: disc;
    margin: 8px 0 0 32px
}

.markdown_view ol li {
    list-style-type: decimal;
    margin-left: 40px;
    margin-top: 8px
}

.markdown_view img {
    margin: 24px 0;
    max-width: 100%
}

.markdown_view h1 {
    font-size: 28px;
    line-height: 36px
}

.markdown_view h2 {
    font-size: 24px;
    line-height: 32px
}

.markdown_view h3 {
    font-size: 22px;
    line-height: 30px
}

.markdown_view h4 {
    font-size: 20px;
    line-height: 28px
}

.markdown_view h5 {
    font-size: 18px;
    line-height: 26px
}

.markdown_view h6 {
    font-size: 16px;
    line-height: 24px
}

.markdown_view h1 code {
    font-size: 28px
}

.markdown_view h2 code {
    font-size: 24px
}

.markdown_view h3 code {
    font-size: 22px
}

.markdown_view h4 code {
    font-size: 20px
}

.markdown_view h5 code {
    font-size: 18px
}

.markdown_view h6 code {
    font-size: 16px
}

.markdown_view blockquote {
    display: block;
    padding: 16px;
    margin: 0 0 24px;
    border-left: 8px solid #DDDFE4;
    background: #EEF0F4;
    overflow: auto;
    overflow-scrolling: touch;
    word-wrap: normal;
    word-break: normal
}

.markdown_view blockquote ol, .markdown_view blockquote ul {
    margin-bottom: 0;
    padding: 0;
    font-size: 14px;
    line-height: 22px
}

.markdown_view blockquote ol li, .markdown_view blockquote ul li {
    margin-bottom: 0
}

.markdown_view blockquote p {
    font-size: 14px;
    line-height: 22px;
    color: #999;
    font-weight: 400;
    margin-bottom: 0
}

.markdown_view hr {
    margin: 24px 0;
    border: none;
    border-bottom: solid #ddd 1px
}

.markdown_view table tr {
    border: 0;
    border-top: 1px solid #DDD;
    background-color: #fff
}

.markdown_view table {
    border-collapse: collapse;
    display: table;
    width: 100%;
    text-align: center;
    margin-bottom: 24px
}

.markdown_view tbody {
    border: 0
}

.markdown_view table tr:nth-child(2n) {
    background-color: #F7F7F7
}

.markdown_view table tr td, .markdown_view table tr th {
    font-size: 14px;
    color: #4f4f4f;
    line-height: 22px;
    border: 1px solid #DDD;
    padding: 8px;
    text-align: left;
    word-wrap: break-word;
    word-break: normal;
    vertical-align: middle
}

.markdown_view table tr td code, .markdown_view table tr th code {
    white-space: normal;
    word-break: break-all
}

.markdown_view table tr th {
    font-weight: 700;
    background-color: #eff3f5
}

.markdown_view dl {
    margin: 24px
}

.markdown_view dl dt {
    margin: 8px;
    font-weight: 700
}

.markdown_view dl dt dd {
    margin: 8px
}

.markdown_view abbr[data-original-title], .markdown_view abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #999
}

.markdown_view .initialism {
    font-size: 90%;
    text-transform: uppercase
}

.markdown_view pre {
    margin-bottom: 24px
}

.markdown_view a {
    color: #4EA1DB;
    text-decoration: none
}

.markdown_view a:focus, .markdown_view a:hover {
    color: #ca0c16
}

.markdown_view a:visited {
    color: #6795B5
}

.markdown_view pre code {
    line-height: 20px;
    font-size: 14px;
}
