@import "style/global";

.article-list-item {
  margin-bottom: 30px;
  @include sky-card;

  &-content {
    // 多行省略号
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  .card-header {
    cursor: pointer;
  }
}
