<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indi.zhuyst.skyblog.dao.ArticleDao">
  <resultMap id="BaseResultMap" type="indi.zhuyst.skyblog.entity.Article">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sub_title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="classify_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="author_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="create_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="indi.zhuyst.skyblog.entity.Article">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sub_title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="classify_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="author_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="create_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="update_date" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="content" javaType="java.lang.String" jdbcType="LONGVARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, title, sub_title, classify_id, author_id, create_date, update_date
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    content
  </sql>
  <select id="selectWithoutIDs" resultMap="ResultMapWithBLOBs">
    SELECT
      <include refid="Base_Column_List"/>,
      <include refid="Blob_Column_List"/>
    FROM article
    <where>
      <if test="article != null">
        <if test="article.classifyId != null">
          classify_id = #{article.classifyId} AND
        </if>
        <if test="article.authorId != null">
          author_id = #{article.authorId} AND
        </if>
      </if>
      id NOT IN
      <foreach collection="list" item="id"
               open="(" close=")" separator=",">
        #{id}
      </foreach>
    </where>
  </select>
  <select id="selectBaseInfoByClassify" resultMap="BaseResultMap">
    SELECT
      <include refid="Base_Column_List"/>
    from article
    WHERE classify_id = #{classifyId}
  </select>
</mapper>