<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add name="apiServerUrl" connectionString="https://api.zhuyst.cc"/>
  </connectionStrings>

  <appSettings>
    <add key="webUrl" value="https://skyblog.zhuyst.cc"/>
  </appSettings>
</configuration>