.nav-image {
  max-height: 40vw;
  position: relative;

  img {
    width: 100%;
    max-height: 40vw;
  }

  &-container {
    position: absolute;
    bottom: 5vw;
    z-index: 15;
    width: 100%;
    text-align: center;
  }

  &-text {
    h1, h3{
      color: white;
    }

    hr {
      width: 80vw;
    }
  }

  &-button-group {
    .ant-btn {
      margin: 0 5vw;
    }
  }
}
