.website{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.footer{
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

header{
    flex: 0 0 auto;
}

.main{
    flex: 1 0 auto;
    background-color: #fbfbfb;
}

footer{
    flex: 0 0 auto;
    padding-top: 30px;
    background-color: #d9edf7;
}

.navigation{
    font-size: 18px !important;
    margin-bottom: 0 !important;
}

.nav_button{
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.nav_button li{
    padding-left: 10px;
    padding-right: 10px;
}

.nav_brand{
    font-size: 22px !important;
    font-weight: bold;
    color: #31708f !important;
}

.badge{
    float: right;
}

.more_link{
    margin-top: 15px;
    text-align: right;
    float: right;
    color: #f16c20;
    padding-right: 10px;
}

.modal .pager{
    font-weight: normal !important;
    margin-top: 0 !important;
}

.pager_message{
    text-align: center;
    font-size: 12px;
    color : #777777;
}

.navbar-default{
    color: #31708f !important;
    background-color: #d9edf7 !important;
}

.navbar-default .navbar-nav>.active>a{
    background-color: #bce8f1 !important;
    color: #337ab7 !important;
}

.navbar-default .navbar-nav>li>a{
    color: #31708f !important;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #337ab7 !important;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover{
    color: #31708f !important;
    background-color: #bce8f1 !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus{
    color: #337ab7 !important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: #bce8f1 !important;
}

.navbar-default .navbar-toggle{
    border-color: #31708f !important;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #31708f !important;
}