.website{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.footer{
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

header{
    flex: 0 0 auto;
}

.main{
    flex: 1 0 auto;
    background-color: #fbfbfb;
}

footer{
    flex: 0 0 auto;
    padding-top: 30px;
    background-color: #eee;
}

.navigation{
    font-size: 18px;
    margin-bottom: 0;
}

.nav_button{
    margin-left: 10px;
    margin-right: 10px;
}

.nav_button li{
    padding-left: 10px;
    padding-right: 10px;
}

.nav_brand{
    font-size: 22px;
}

.badge{
    float: right;
}

.more_link{
    text-align: right;
    float: right;
    color: #f16c20;
    padding-right: 10px;
}

.modal .pager{
    font-weight: normal !important;
    margin-top: 0 !important;
}

.pager_message{
    text-align: center;
    font-size: 12px;
    color : #777777;
}